@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbarSass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
    background-color: $color-primario;
    color: $color-secundario;

    h1 {
        margin: 0;
        a {
            color: #fff;
            text-decoration: none;
        }
    }

    img {
        width: 120px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            font-size: 1.2em;

            li {
                margin-right: 3rem;
                animation: fadeIn 1s ease-in-out;

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #ddd;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        img {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        nav ul {
            justify-content: center;
        }
    }
}